doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/styles/styles.css')
    title NgRok Node
  body
    .main
      .content
        .header NgRok Test Webapp
        .list
          div #{content[0]}
          div #{content[1]}
          div #{content[2]}
          div #{content[3]}
